<launch>
  <!--arg name="ign_args" default=""/-->

  <!--env name="IGN_GAZEBO_SYSTEM_PLUGIN_PATH" value="$(optenv LD_LIBRARY_PATH)" /-->

  <!--node
    pkg="ros_ign_gazebo"
    type="ign_gazebo"
    name="ign_gazebo"
    output="screen"
    required="true"
    args="$(find pedsim_ignition)/worlds/social_contexts.world">
  </node-->
    <include file="$(find ros_ign_gazebo)/launch/ign_gazebo.launch">
	    <arg name="ign_args" value="-v 3 $(find pedsim_gazebo_plugin)/worlds/social_contexts_ignition.world"/>
	</include>
	
	<!-- this node spawn pedsim actors to gazebo once, then the plugin updates their pose -->  
     <!--node pkg="pedsim_gazebo_plugin" type="spawn_pedsim_agents.py" name="spawn_pedsim_agents"  output="screen">
     </node-->
</launch>
